@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
h1,p {
    text-align: center;
    /* display: block; */
}
a{
    text-decoration: none;
    color: black;
}
#project{
    font-family: 'Allura', cursive;
    font-size:3em;
}
#table{
    border-spacing: 15px;
}

#bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
  }
#logo{
    
    width: 2.5rem;
    display: block;
    border-radius: 50%;
    padding: 0%;
}
/* #name{
    position: relative;
    bottom: 71px;
} */
#user {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  border-radius: 50%;

}
*[data-href] {
    cursor: pointer;
}
#table{
    margin-left: auto;
    margin-right: auto;
}
#rcorners1 {
    transition: transform .2s;
    border-radius: 25px;
    background: #f3f2ed;
    /* padding: 20px;  */
    width: 25rem;
    height: 15px;  
    margin-left: auto;
    margin-right: auto;
  }
#rcorners2 {
    transition: transform .2s;
    border-radius: 25px;
    background: #f3f2ed;
    text-align: center;
    /* padding: 20px;  */
    width: 15rem;
    height:2rem;  
    margin-left: auto;
    margin-right: auto;
  }
  #rcorners1:hover {
    transform: scale(1.1);
  }
  #rcorners2:hover {
    transform: scale(1.017);
  }
  @media only screen and (max-width: 600px) {
    #rcorners1 {
        width: 20rem;
    }
    #rcorners2 {
        width: 9rem;
    }
  }

  